.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container{
  background-color: #FFE0B3;
}
.product-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  @media (min-width: 600px) {
    .product-container{ grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .product-container{ grid-template-columns: repeat(3, 1fr); }
  }